<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titleImage</key>
		<string>首页</string>
		<key>titleLable</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>titleImage</key>
		<string>电台</string>
		<key>titleLable</key>
		<string>电台</string>
	</dict>
	<dict>
		<key>titleImage</key>
		<string>阅读</string>
		<key>titleLable</key>
		<string>阅读</string>
	</dict>
	<dict>
		<key>titleLable</key>
		<string>社区</string>
		<key>titleImage</key>
		<string>社区</string>
	</dict>
	<dict>
		<key>titleLable</key>
		<string>碎片</string>
		<key>titleImage</key>
		<string>碎片</string>
	</dict>
	<dict>
		<key>titleImage</key>
		<string>设置</string>
		<key>titleLable</key>
		<string>设置</string>
	</dict>
</array>
</plist>
